[user]
	email = antoniostignjedec@gmail.com
	name = Antony1060
	signingkey = FC437A1812A6D8D5
[credential]
	helper = store
[pull]
	rebase = true
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[alias]
    cm = !git add . && git commit -S -am
    lol = log --oneline
    rbm = !git fetch && git rebase origin/$(git branch | grep -E \"main|master\" | tr -d \"* \")
    rbc = !git fetch && git rebase origin/$(git branch | grep '*' | tr -d '* ' | tr -d \"\\n\")
    gud = !~/Desktop/Coding/Bash/git-gud/git_gud.sh
[init]
	defaultBranch = master
